* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    display: flex;
}

body {
    background-color: #454545;
}

.window {
    position: absolute;
    top: 77px;
    left: 428px;
    width: 400px;
    height: 400px;
    background: #FFFEF8;
    border-radius: 14.6957px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login {    
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.textR {
    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: #252EFF;
}

.inputions {
    flex-direction: column;
    justify-content: space-around;
    margin: 0 -5px;
}


input {
    border-color: #6066FF;
    border-width: 2px;
    width: Fixed (352px);
    height: Hug (38px);
    top: 386px;
    left: 24px;
    padding: 10px;
    border-radius: 10px;
    /* border: 2px; */
    gap: 10px;
    font-size: 15px;
    color: #000000B2;
    margin: 7px 30px;

}

.buttonss {

    flex-direction: column;
    justify-content: space-around;
    margin: 15px -5px;
    
}

button {
    cursor: pointer;    
    top: 296px;
    left: 124px;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
    background-color: #252EFF;
    margin: 7px 30px;
    width: Fixed (153px);
    height: Fixed (38px);       
}


h1{
    margin: auto; 
}