body {
    background-color: #454545;
}

.player-window {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 540px;
    height: 169px;

    background: #FFFEF8;
    border-radius: 14.6957px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.image {
    display: flex;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}